/*详细页banner样式*/
#content .banner{
	width:100%;
}
#content .banner img{
	width:100%;
	height: 100%;
}
/*详细页面面包屑样式*/
#content .breadnav{
	margin:16px auto;
	width:1200px;	
	overflow: hidden;
}
#content .breadnav ul>li{
	float:left;
	margin-left:4px;
	line-height: 26px;
	font-size: 15px;
}
#content .breadnav ul>li>a{
	padding-right: 20px;
	display: block;
	width:100%;
	height: 100%;
	background:url("../img/rightarrowblack.png") no-repeat 70%;
	color:#545454;
}
#content .breadnav .title{
	color:#999;
}
#content .breadnav .productdetails{
	color:#ac0d09;
	font-weight: bold;
}
/*详细页左边导航样式*/
#content .details{
	margin:0 auto;
	width:1200px;
	overflow: hidden;
}
#content .details .left{
	float:left;
	width: 300px;
}
#content .details .left .imgs{
	height: 348px;
	background: url("../img/detailnavimg.png") no-repeat;
}
#content .details .left ul{
	font-size: 16px;
	width:300px;
}
#content .details .left ul>li{
	padding:0 60px;
	width:180px;
	line-height: 60px;
	height: 60px;
	background: url("../img/details11.png") no-repeat;
}
#content .details .left ul>li>div>a{
	color:#545454;
}
#content .details .left ul>li.lines{
	border-bottom:dashed 1px #e3b88c;
}
#content .details .left ul>li.on,
#content .details .left ul>li:hover{
	position: relative;
	width:184px;
	background: url("../img/details6.png") no-repeat;
	box-shadow: -4px 6px 10px #ddaf9c;
	z-index: 4;
	
}
#content .details .left ul>li.on a,
#content .details .left ul>li:hover a{
	color:#ac0d09!important;
}
/*右边文字图片样式*/
#content .details .right{
	margin-left: 30px;
	width:828px;
	float:right;
	padding:0 20px;
	background-color: #f9f3ec;
	border:1px solid #eedac1;
	margin-bottom: 42px;
	
}
#content .details .right h3{
	padding-top: 20px;
	font-size: 24px;
	color:#ac0d09;
	font-weight: bold;
	border-bottom: 1px solid #e3b88c;
	height: 36px;
	padding-bottom: 10px;
	margin-bottom: 26px;
}
/*右边商品列表样式*/
#content .proitem ul>li{
	float:left;
	padding: 10px;
	width:370px;
	height: 339px;
	margin:10px;
	background: #fff
}
/* #content .proitem ul>li.on{
	width:368px;
	height: 336px;
	border:1px solid #f3e6e6;
} */
#content .proitem ul>li:hover{
	box-shadow:0 0 10px #f5d9d9;
}
#content .proitem ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
#content .proitem ul>li>a .title{
	padding-top: 14px;
	font-size: 16px;
	font-weight: bold;
	color:#545454;
	line-height: 30px;
}
#content .proitem ul>li>a .size{
	font-size: 15px;
	color:#999;
	line-height: 30px;
}
/*尾部分页样式*/
.page{
	float:right;
	margin: 20px 0;
}
.page a{
	display: inline-block;
	width:30px;
	height: 30px;
	color:#545454;
	background: #fff;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;

}
.page a.fol{
	width:60px;
	height: 30px;
	background: #ac0d09;
	color:#fff;
}
.page .on{
	background: #ac0d09;
	color:#fff;
}



